In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [36]:
df=pd.read_csv('data.csv')

C:\Users\Rahul\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
df.head()

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
0,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases
1,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases
2,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,2,cases
3,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
4,2016-03-19,Argentina-Buenos_Aires,province,cumulative_cases_under_study,AR0005,NaN,NaN,127,cases

In [38]:
#1. show data field code 'AR0005' values for 'Argentina-Catamarca' for entire duration

In [121]:
df.query("location=='Argentina-Catamarca'")

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
12,2016-03-19,Argentina-Catamarca,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,1,cases
13,2016-03-19,Argentina-Catamarca,province,cumulative_probable_local_cases,AR0002,NaN,NaN,1,cases
14,2016-03-19,Argentina-Catamarca,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,1,cases
15,2016-03-19,Argentina-Catamarca,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
16,2016-03-19,Argentina-Catamarca,province,cumulative_cases_under_study,AR0005,NaN,NaN,1,cases
17,2016-03-19,Argentina-Catamarca,province,cumulative_cases_discarded,AR0006,NaN,NaN,1,cases
156,2016-03-26,Argentina-Catamarca,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,1,cases
157,2016-03-26,Argentina-Catamarca,province,cumulative_probable_local_cases,AR0002,NaN,NaN,1,cases
158,2016-03-26,Argentina-Catamarca,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,1,cases
159,2016-03-26,Argentina-Catamarca,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
160,2016-03-26,Argentina-Catamarca,province,cumulative_cases_under_study,AR0005,NaN,NaN,1,cases
161,2016-03-26,Argentina-Catamarca,province,cumulative_cases_discarded,AR0006,NaN,NaN,1,cases
300,2016-04-02,Argentina-Catamarca,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,1,cases
301,2016-04-02,Argentina-Catamarca,province,cumulative_probable_local_cases,AR0002,NaN,NaN,1,cases
302,2016-04-02,Argentina-Catamarca,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,1,cases
303,2016-04-02,Argentina-Catamarca,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
304,2016-04-02,Argentina-Catamarca,province,cumulative_cases_under_study,AR0005,NaN,NaN,1,cases
305,2016-04-02,Argentina-Catamarca,province,cumulative_cases_discarded,AR0006,NaN,NaN,1,cases
444,2016-04-09,Argentina-Catamarca,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,1,cases
445,2016-04-09,Argentina-Catamarca,province,cumulative_probable_local_cases,AR0002,NaN,NaN,1,cases
446,2016-04-09,Argentina-Catamarca,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,1,cases
447,2016-04-09,Argentina-Catamarca,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
448,2016-04-09,Argentina-Catamarca,province,cumulative_cases_under_study,AR0005,NaN,NaN,1,cases
449,2016-04-09,Argentina-Catamarca,province,cumulative_cases_discarded,AR0006,NaN,NaN,1,cases
588,2016-04-16,Argentina-Catamarca,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,1,cases
589,2016-04-16,Argentina-Catamarca,province,cumulative_probable_local_cases,AR0002,NaN,NaN,1,cases
590,2016-04-16,Argentina-Catamarca,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,1,cases
591,2016-04-16,Argentina-Catamarca,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
592,2016-04-16,Argentina-Catamarca,province,cumulative_cases_under_study,AR0005,NaN,NaN,1,cases
593,2016-04-16,Argentina-Catamarca,province,cumulative_cases_discarded,AR0006,NaN,NaN,1,cases
...,...,...,...,...,...,...,...,...,...
1308,2016-05-30,Argentina-Catamarca,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,1,cases
1309,2016-05-30,Argentina-Catamarca,province,cumulative_probable_local_cases,AR0002,NaN,NaN,1,cases
1310,2016-05-30,Argentina-Catamarca,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,1,cases
1311,2016-05-30,Argentina-Catamarca,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
1312,2016-05-30,Argentina-Catamarca,province,cumulative_cases_under_study,AR0005,NaN,NaN,1,cases
1313,2016-05-30,Argentina-Catamarca,province,cumulative_cases_discarded,AR0006,NaN,NaN,1,cases
1452,2016-06-06,Argentina-Catamarca,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,1,cases
1453,2016-06-06,Argentina-Catamarca,province,cumulative_probable_local_cases,AR0002,NaN,NaN,1,cases
1454,2016-06-06,Argentina-Catamarca,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,1,cases
1455,2016-06-06,Argentina-Catamarca,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
1456,2016-06-06,Argentina-Catamarca,province,cumulative_cases_under_study,AR0005,NaN,NaN,1,cases
1457,2016-06-06,Argentina-Catamarca,province,cumulative_cases_discarded,AR0006,NaN,NaN,1,cases
1596,2016-06-13,Argentina-Catamarca,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,1,cases
1597,2016-06-13,Argentina-Catamarca,province,cumulative_probable_local_cases,AR0002,NaN,NaN,1,cases
1598,2016-06-13,Argentina-Catamarca,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,1,cases
1599,2016-06-13,Argentina-Catamarca,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
1600,2016-06-13,Argentina-Catamarca,province,cumulative_cases_under_study,AR0005,NaN,NaN,1,cases
1601,2016-06-13,Argentina-Catamarca,province,cumulative_cases_discarded,AR0006,NaN,NaN,1,cases
1740,2016-06-18,Argentina-Catamarca,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,1,cases
1741,2016-06-18,Argentina-Catamarca,province,cumulative_probable_local_cases,AR0002,NaN,NaN,1,cases
1742,2016-06-18,Argentina-Catamarca,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,1,cases
1743,2016-06-18,Argentina-Catamarca,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
1744,2016-06-18,Argentina-Catamarca,province,cumulative_cases_under_study,AR0005,NaN,NaN,1,cases
1745,2016-06-18,Argentina-Catamarca,province,cumulative_cases_discarded,AR0006,NaN,NaN,1,cases
1884,2016-06-26,Argentina-Catamarca,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,1,cases
1885,2016-06-26,Argentina-Catamarca,province,cumulative_probable_local_cases,AR0002,NaN,NaN,1,cases
1886,2016-06-26,Argentina-Catamarca,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,1,cases
1887,2016-06-26,Argentina-Catamarca,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
1888,2016-06-26,Argentina-Catamarca,province,cumulative_cases_under_study,AR0005,NaN,NaN,1,cases
1889,2016-06-26,Argentina-Catamarca,province,cumulative_cases_discarded,AR0006,NaN,NaN,1,cases

In [40]:
# 2. Plot 'Argentina-CABA' and 'Argentina-Catamarca' for number of cases values for entire duration to identify the difference.
# HINT : Plot sum of the 'value' where 'units' = 'cases' to identify the difference for the locations 'Argentina-CABA' and 'Argentina-Catamarca' for entire duration

In [41]:
df['unit'].unique()

array(['cases', 'municipalities', nan], dtype=object)

In [81]:
value=df.query("location =='Argentina-CABA'" and "unit=='cases'")['value']

In [82]:
value

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
107589    1
107590    1
107591    1
107592    1
107593    1
107594    1
107595    1
107596    1
107597    1
107598    1
107599    1
107600    1
107601    1
107602    1
107603    1
107604    1
107605    1
107606    1
107607    1
107608    1
107609    1
107610    1
107611    1
107612    1
107613    1
107614    1
107615    1
107616    1
107617    1
107618    1
Name: value, Length: 106519, dtype: int32

In [71]:
value.unique()

array([1], dtype=int64)

In [72]:
my_series = pd.to_numeric(value)

In [74]:
my_series

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
107589    1
107590    1
107591    1
107592    1
107593    1
107594    1
107595    1
107596    1
107597    1
107598    1
107599    1
107600    1
107601    1
107602    1
107603    1
107604    1
107605    1
107606    1
107607    1
107608    1
107609    1
107610    1
107611    1
107612    1
107613    1
107614    1
107615    1
107616    1
107617    1
107618    1
Name: value, Length: 106519, dtype: int32

In [75]:
my_series.values[4]

1

In [76]:
type(my_series.values[4])

numpy.int32

In [77]:
my_series.values

array([1, 1, 1, ..., 1, 1, 1])

In [78]:
np.sum(a=my_series.values)

106519

In [79]:
sum_of_values_for_CABA=np.sum(a=my_series.values)

In [80]:
sum_of_values_for_CABA

106519

In [83]:
# 2. Plot 'Argentina-CABA' and 'Argentina-Catamarca' for number of cases values for entire duration to identify the difference.
# HINT : Plot sum of the 'value' where 'units' = 'cases' to identify the difference for the locations 'Argentina-CABA' and 'Argentina-Catamarca' for entire duration

In [109]:
df2=pd.read_csv('data.csv')

In [110]:
df2.head()

,report_date,location,location_type,data_field,data_field_code,time_period,time_period_type,value,unit
0,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_local_cases,AR0001,NaN,NaN,0,cases
1,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_local_cases,AR0002,NaN,NaN,0,cases
2,2016-03-19,Argentina-Buenos_Aires,province,cumulative_confirmed_imported_cases,AR0003,NaN,NaN,2,cases
3,2016-03-19,Argentina-Buenos_Aires,province,cumulative_probable_imported_cases,AR0004,NaN,NaN,1,cases
4,2016-03-19,Argentina-Buenos_Aires,province,cumulative_cases_under_study,AR0005,NaN,NaN,127,cases

In [111]:
type(df2.value[4])

str

In [113]:
df2.value

0           0
1           0
2           2
3           1
4         127
5           0
6           0
7           0
8           9
9           0
10         68
11          1
12          0
13          0
14          0
15          0
16         14
17          0
18          0
19          0
20          0
21          0
22         48
23          0
24          0
25          0
26          1
27          0
28          5
29          0
         ...
107589     13
107590      5
107591      3
107592    326
107593    144
107594    173
107595      9
107596     29
107597     12
107598     16
107599      1
107600    252
107601     43
107602      4
107603     12
107604     10
107605      3
107606      0
107607      7
107608     22
107609      2
107610      9
107611     19
107612     13
107613     18
107614      7
107615     13
107616     14
107617      5
107618      2
Name: value, Length: 107619, dtype: object

In [114]:
df2['value']=pd.to_numeric(df['value'])

In [115]:
df2.value

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
107589    1
107590    1
107591    1
107592    1
107593    1
107594    1
107595    1
107596    1
107597    1
107598    1
107599    1
107600    1
107601    1
107602    1
107603    1
107604    1
107605    1
107606    1
107607    1
107608    1
107609    1
107610    1
107611    1
107612    1
107613    1
107614    1
107615    1
107616    1
107617    1
107618    1
Name: value, Length: 107619, dtype: int32

In [118]:
df['value']

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        1
25        1
26        1
27        1
28        1
29        1
         ..
107589    1
107590    1
107591    1
107592    1
107593    1
107594    1
107595    1
107596    1
107597    1
107598    1
107599    1
107600    1
107601    1
107602    1
107603    1
107604    1
107605    1
107606    1
107607    1
107608    1
107609    1
107610    1
107611    1
107612    1
107613    1
107614    1
107615    1
107616    1
107617    1
107618    1
Name: value, Length: 107619, dtype: int32